/*
  * @Module: 导航
 * @Author: 小缘
 * @Date: 2017-07-29 23:25:59
 */
// 变量
@import '../variable.scss';
.x-menu{
  display: block;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);

  // logo
  .x-menu-logo{
    float: left;
    padding: 0 $x-menu-item-left_right-padding;
    height: $x-menu-height;
    line-height: $x-menu-height;
  }

  .x-menu-list{
    display: block;
    float: left;

    & > li{
      height: $x-menu-height;
      line-height: $x-menu-height;
      padding: 0 $x-menu-item-left_right-padding;
      display: inline-block;
      font-size: $x-menu-item-font-size;
      cursor: pointer;
      float: left;

      & > i{
        margin-right: $x-menu-item-icon-right;
      }
    }
  }

  // 颜色分类
  @each $type, $color in $colors{
    &.x-menu-#{$type}{
      .x-menu-list li{
        color: #fff;
        transition: background-color $x-menu-item-animate-date;
      }

      .x-menu-active,
      .x-menu-list li:hover{
        background-color: rgba(0, 0, 0, 0.15);
      }
    }

    &.x-menu-#{$type}{
      background: $color;
    }
  }

  // 白色
  &.x-menu-baise{
    background: #fff;

    .x-menu-active,
    .x-menu-list li:hover{
      color: $x-menu-baise-item_hover-font-color;
    }
  }
}