/*
  * @Module: toastr提示
 * @Author: 小缘
 * @Date: 2017-07-23 21:11:53
 */
// 变量
@import '../variable.scss';
@import '../mixin/x-alert_x-notice.scss';

.x-notice-box{
  position: fixed;
  top: $x-notice-top;
  right: $x-notice-right;
  width: $x-notice-width;
  z-index: 2017;

  .x-notice{
    margin-bottom: $x-notice-bottom;
    box-shadow: $x-notice-box-shadow;
  }

  // 基础样式
  @include x-alert_x-notice-box-notice('x-notice');
}

// 过度动画
.x-notice-left-move-enter-active {
  animation: left-move $x-notice-animate-date;
}

.x-notice-left-move-leave-active {
  animation: left-move $x-notice-animate-date reverse;
}