/*
  * @Module: 表格
 * @Author: 小缘
 * @Date: 2017-07-30 13:09:18
 */

 .x-table-box{
   // 边框
  $table-border: 1px solid $x-table-border-color;

  display: block;
  background: #fff;

  .x-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    color: #76838f;

    thead > tr > th{
      font-weight: bold;

      & > span,
      & > div{
        display: inline-block;
        vertical-align: middle;
      }
    }

    // 排序
    thead .x-table-sort{
      height: 100%;
      padding-left: 5px;

      span{
        $top: 4px;

        display: block;
        line-height: 1;
        font-size: $x-table-sort-icon-size;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity $x-table-transition;
        position: relative;
        z-index: 1;

        &:first-child{
          margin-top: $top;
        }
        
        &:last-child{
          margin-top: -$top;
        }

        &.sort-active,
        &:hover{
          opacity: 1;
          z-index: 99;
        }
      }
    }

    th,
    td{
      line-height: 1.5;
      vertical-align: middle;

      & > div{
        position: relative;
      }
    }

    // thead
    thead th{
      background: $x-table-thead-bg;
      border-bottom: $table-border;
    }

    tbody{
      tr{
        transition: background $x-table-tr-bg-change-date;
        td{
          border-top: $table-border;
        }
      }
    }
  }

  .x-table-body{
    width: 100%;
    position: relative;
    overflow: auto;
  }

  // 设置高度
  .x-table-scroll-body tbody tr:first-child td{
    border-top: none;
  }

  // 大小分类
  @each $type, $val in $x-table-size{
    &.x-table-#{$type}{
      th,
      td{
        padding: nth($val, 1) nth($val, 2);
        font-size: nth($val, 3);
      }
    }
  }

  // 内边框
  &.x-table-bordered{
    tbody > tr > td,
    thead > tr:first-child > th{
      border: $table-border;
    }
  }

  // 无边框
  &.no-border{
    tr > td,
    tr > th{
      border: none!important;
    }
  }

  // hover
  &.x-table-hover tr:hover{
    background: $x-table-hover-bg;
  }

  // 条纹
  &.x-table-striped tr:nth-child(even){
    background-color: $x-table-striped-bg;
  }

  // header
  .x-table-header{
    background-color: $x-table-thead-bg;

    th{
      border-bottom: none;
    }
  }
 }



// 固定头部
.x-table-fixed-head{
  &.x-table-bordered{
    overflow: hidden;
    border-bottom: 1px solid $x-table-border-color;
    // .x-table-body{
    //   border-top: none;
    // }

    // thead > tr:first-child > th{
    //   border-top: none;
    // }

    // // 移除td左右边框
    // tbody{
    //   td{
    //     &:first-child{
    //       border-left: none;
    //     }

    //     &:last-child{
    //       border-right: none;
    //     }
    //   }

    tr:last-child{
      td{
        border-bottom: none;
      }
    }
  }
}