/*
 * @Module: reset
 * @Author: 小缘 
 * @Date: 2017-05-14 19:21:02 
 */

html, body, div, span, p, a, img, ul, li, ol, dd, dt,
table, input, textarea, select,  h1, h2, h3, h4, h5,
h6,  header, footer, article, nav, figure, figcaption{
  margin: 0;
  padding: 0;
}

a, a:active, a:hover{
  outline: 0;
  text-decoration: none;
}

a{
  color: $link-color;

  &:hover{
    color: $link-hover;
  }

  &:active{
    color: $link-active;
  }
}

img{
  display: inline-block;
  border: none;
  vertical-align: middle;
}

li{
  list-style:none;
}

h1, h2, h3{
  font-size: 14px;
  font-weight: 400;
}

h4, h5, h6{
  font-size: 100%;
  font-weight: 400;
}

input, button, textarea, select, optgroup, option{
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  outline: 0;
}

pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

body{
  color: $font-color-default;
  line-height: $line-height-default;
  font-size: $font-size-default;
  font-family: $font-family;
}