.router-box{
  width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.row{
  margin-top: 15px;
  display: block;
}

// 图标
.icon-box{
  li{
    width: 128px;
    height: 128px;
    float: left;
    text-align: center;
    cursor: pointer;

    &:hover{
      color: #fff;
      background: #62a8ea;
    }

    div{
      display: inline-block;
      vertical-align: middle;
    }

    span{
      display: inline-block;
      padding-top: 24px;
    }

    i{
      font-size: 36px;
      transition: transform 0.3s;
    }

    p{
      display: block;
      margin: 0 8px;
      border-radius: 4px;
      padding: 3px;
      margin-top: 10px;
      font-size: 12px;
    }
  }
}