/*
 * @Module: checkbox和radio共用
 * @Author: 小缘
 * @Date: 2017-06-07 23:30:51
 */
//input和radio共用
@import '../variable.scss';
@import '../components/animate.scss';

@mixin checkbox-radio ($name) {
  // 颜色分类
  @each $type, $val in $colors{
    #{$name}-#{$type}{
      // hover
      &:hover i,
      &.x-checked > i{
        border-color: $val;
      }
    }
  }

  #{$name}{
    display: inline-block;
    cursor: pointer;
    font-size: 0;

    & + #{$name}{
      margin-left: $checkbox-radio-margin-left;
    }

    input{
      display: none;
    }

    & > i,
    & > span{
      vertical-align: middle;
      font-size: $checkbox-radio-label-font-size;
    }

    //图标
    & > i{
      color: #fff;
      width: $checkbox-radio-width;
      height: $checkbox-radio-width;
      display: inline-block;
      text-align: center;
      line-height: $checkbox-radio-width - 2;
      box-sizing: border-box;
      border: $x-checkbox-border-default;
      transition: all $transition-time;
      position: relative;
    }

    & > span{
      color: $x-checkbox-color-default;
      margin-left: $checkbox-radio-label-margin-left;
      line-height: 1;
    }

    & > i:before{
      display: inline-block;
      transform: scale(0);
    }

    // 选中
    &.x-checked{
      & > i{
        &:before{
          animation: scale 0.3s ease forwards;
        }

        &:before{
          transform: scale(1);
        }
      }
    }

    // 禁用
    &.x-disabled{
      & > i,
      &:hover & > i{
        background: $x-checkbox-disabled-bg-color!important;
        border-color: $x-checkbox-disabled-border-color!important;
      }

      span{
        color: $x-checkbox-disabled-color;
      }

      // 选中状态
      &.x-checked{
        & > i{
          color: $x-checkbox-disabled-color
        }
      }
    }
  }
}